a{
    color: rgb(255, 251, 0);
    font-size: 30px;
    font-weight:bold;
    padding: 10px;

    text-decoration:none;
}

a:hover { 
    text-shadow: rgb(199, 196, 14) 1px 1px, rgb(199, 196, 14) -1px 1px, rgb(199, 196, 14) -1px -1px, rgb(199, 196, 14) 1px -1px;
}

nav {
    text-align: center;
    font-family: calibri;
    margin-bottom:10px;
}

#body {
    background-color: rgb(24, 77, 22);
    background-image: url("../img/mat.png");
    width:300px;
    height:230px;
    margin: auto;
}

#menu, #content {
    margin:auto;
    font-family: calibri;
    color:rgb(255, 251, 0);
    padding: 10px;
    font-weight: bold;
}
