h2 {
    text-align: center;
    font-size: 30px;
    border-color: rgb(255, 251, 0);
    border-style: solid;
    margin:0 40px;
}


#enter {
    font-size: 18px;
    text-align: center;
}

#nickname{
    margin: 0px 10px 10px 10px;
}

input{
    width: 130px;
}

a{
    color: rgb(255, 251, 0);
    font-size: 30px;
    font-weight:bold;
    padding: 10px;

    text-decoration:none;
}

a:hover { 
    text-shadow: rgb(199, 196, 14) 1px 1px, rgb(199, 196, 14) -1px 1px, rgb(199, 196, 14) -1px -1px, rgb(199, 196, 14) 1px -1px;
}

nav {
    text-align: center;
    font-family: calibri;
    margin-bottom:10px;
}