h2 {
    text-align: center;
    font-size: 30px;
    border-color: rgb(255, 251, 0);
    border-style: solid;
    margin:0 40px;
}


#enter {
    font-size: 18px;
    text-align: center;
}

#nickname{
    margin: 0px 10px 10px 10px;
}

input{
    width: 130px;
}