#game {
    background-image: url("../img/battlefield.png");
    margin:0 auto;
    height:308px;
    width:494px;
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 251, 0);
}

#bot-pack, #player-pack {
    background-image: url("../img/card_pack.png");
    background-size: 54.5px;
    background-repeat: no-repeat;
    height:76.25px;
    width:54.5px;
    margin: 0 auto;
    position:absolute;
    margin-left: 220px;   
}

#bot-pack {
    margin-top: 10px;
}

#player-pack {
    margin-top: 220px;
}

#warbot {
    margin-left : -80px;
    margin-top: -5px;
    font-size: 20px;
}

#player {
    margin-left: 68px;
    margin-top: 56px;
    font-size: 20px;
}

nav {
    margin: 0 auto;
}

a{
    color: rgb(255, 251, 0);
    font-weight:bold;
    font-family: calibri;
    padding: 10px;
}

a:hover { 
    text-shadow: rgb(199, 196, 14) 1px 1px, rgb(199, 196, 14) -1px 1px, rgb(199, 196, 14) -1px -1px, rgb(199, 196, 14) 1px -1px;
}
