#game {
    background-image: url("../img/battlefield.png");
    margin:0 auto;
    height:308px;
    width:494px;
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 251, 0);
}

#war {
    position: absolute;
    margin-top: 140px;
    margin-left: 50px;
    width: 80px;
}

#card-up, #card-down {
    /*/background-image: url("/assets/As.gif");/*/
    background-size: 30px;
    background-repeat: no-repeat;
    width:40px;   
    height:50px;
    position: absolute;
    
    border-style: solid;
    text-align:center;   
}

#card-up{
    margin-top: 90px;
    margin-left:228px;
    
}

#card-down {
    margin-top: 160px;
    margin-left: 228px;
}

#bot-pack, #player-pack {
    background-image: url("../img/card_pack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    height:76.25px;
    width:40px;
    margin: 0 auto;
    position:absolute;
    margin-left: 230px;   
}

#bot-pack {
    margin-top: 10px;
}

#player-pack {
    margin-top: 240px;
    cursor:pointer;
}

#warbot {
    margin-left : -80px;
    margin-top: -5px;
    font-size: 20px;
}

#player {
    margin-left: 64px;
    margin-top: 38px;
    font-size: 20px;
}

nav {
    margin: 0 auto;
}

a{
    color: rgb(255, 251, 0);
    font-weight:bold;
    font-family: calibri;
    padding: 10px;
}

a:hover { 
    text-shadow: rgb(199, 196, 14) 1px 1px, rgb(199, 196, 14) -1px 1px, rgb(199, 196, 14) -1px -1px, rgb(199, 196, 14) 1px -1px;
}

#animate {
    background-image: url("../img/As.gif");
    background-size: 500px;
    background-repeat: no-repeat;
    width: 50px;
    height: 70px;
    position: absolute;
    margin-left:220px;
    margin-top:220px;
  }
