<div id = "game">
   <div id = "bot-pack">
       <p id="warbot">WarBot</p>
   </div>
   <div id = "card-up" [ngStyle] = "{'visibility': getVisibility()}"> {{cardName}}</div>
   <div id = "card-down" [ngStyle] = "{'visibility': getVisibility()}"> {{cardName}}</div>

   <div id = "player-pack" (click) = "onPackClick()">
        <p id="player">{{player.username}}<!-- [ngStyle] =  "{'background-image': getImgUrl()}"  "{'visibility':getVisibility()}" !--></p>
   </div>
</div>

<nav>
    <a routerLink="/menu">Go Back to Menu</a>
</nav>
